@import url("https://fonts.googleapis.com/css2?family=Montserrat");

* {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  background-image: url("https://wallpapercrafter.com/sizes/1920x1080/292447-dog-cat-animals-friend-animal-pet.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.formBoxBg {
  margin-top: -10px;
  background-color: rgba(255, 255, 255, 0.871);
  border-radius: 15px;
}

label,
h3,
h6,
.petTypeCheck {
  color: black;
}

.card-registration .select-arrow {
  top: 13px;
}

.submit-pet-btn {
  margin-left: 15px;
  margin-top: 32px;
}

button {
  height: 48px;
  width: 255px;
}

select {
  border-color: rgb(189, 189, 189);
  color: gray;
}

.add-title {
  font-weight: bold;
  margin-bottom: 20px;
}
