@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    background-image: url("https://cdn.discordapp.com/attachments/1022513613375807644/1032661379414491146/unknown.png");
    font-family: 'Montserrat', sans-serif
}
.card {
border: none
}
.logo {
background-color: #f2c459e1;
}
.totals tr td {
font-size: 13px
}
.footer {
background-color: #eeeeeea8
}
.footer span {
font-size: 12px
}
.product-qty span {
font-size: 12px;
color: #dedbdb
}