@import url("https://fonts.googleapis.com/css2?family=Montserrat");

* {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  background-image: url("https://cdn.discordapp.com/attachments/1022513613375807644/1032661379414491146/unknown.png");
  /*https://images.ctfassets.net/rt5zmd3ipxai/eVijz3sFJ4rvPKW0aNP5z/3b023e93083c2f0492d02d1d86c99d40/Untitled_design__8_.png*/
}

.container {
  width: 100%;
  height: 100%;
}

.carousel {
  height: 100px;
  width: 100%;
}

.carousel-item {
  text-align: center;
  /*width: 1920px;*/
  height: 1500px;
}

.carousel-control-prev {
  background-color: rgba(0, 0, 0, 0.6);
  width: 50px;
  height: 380px;
}

.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.6);
  width: 50px;
  height: 380px;
}

.carousel-indicators {
  margin-bottom: -270px;
}

.col {
  margin-top: 350px;
  height: 350px;
  align-content: center;
}

.card {
  width: 400px;
  height: 350px;
  border: 5px solid rgb(255, 255, 255);
  /*
  align-items: center;
  align-content: center;*/
}

/*
.card-body {
  margin-bottom: -0px;
}

.card-text-uno {
  color: black;
  margin-bottom: 0px;
  margin-left: -124px;
}

.card-text {
  color: black;
  margin-left: -157px;
  margin-bottom: -80px;
}*/
