@import url("https://fonts.googleapis.com/css2?family=Montserrat");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url("https://cdn.discordapp.com/attachments/1022513613375807644/1032661379414491146/unknown.png");
  background-repeat: repeat;
}

.carousel-control-prev {
  background-color: rgba(0, 0, 0, 0.6);
  width: 50px;
}

.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.6);
  width: 50px;
}

.error-msg {
  margin-left: 600px;
  margin-top: 400px;
  width: 700px;
  background-color: greenyellow;
}

.ownerCol {
  margin-top: -370px;
  align-content: center;
  margin-bottom: 50px;
}

.guardianCol {
  margin-top: 40px;
  align-content: center;
  margin-bottom: 50px;
}

.card {
  margin-top: 30px;
  width: 400px;
  height: 350px;
  border: 5px solid rgb(255, 255, 255);
}

.home-footer {
  text-align: center;
  height: 50px;
  padding-top: 12px;
  color: white;
  border-radius: 5px;
  background-color: rgb(14, 59, 80);
}
