@import url("https://fonts.googleapis.com/css2?family=Montserrat");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url("https://cdn.discordapp.com/attachments/1022513613375807644/1032661379414491146/unknown.png");
}

/* Booking History */
h3 {
  color: #f2c459e1;
  font-weight: 800;
}

.h5-guardians {
  margin-left: 30px;
  font-weight: 800;
}

.h5-pets {
  font-weight: bold;
  margin-left: 30px;
  margin-bottom: -20px;
}

.booking-content {
  width: 100%;
}

.booking-content-left {
  padding: 35px 0px 35px 0px;
  float: left;
}

.booking-content-right {
  float: right;
  padding: 45px 0px 35px 0px;
}

/* Cada cajita con info */
.filter-result .info-box {
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.2);
  background-color: #f2c459e1;
  border-radius: 10px;
  padding: 10px 35px;
  display: inline-block;
}

.listing {
  width: 1500px;
  margin: auto;
}

/* Evita que muestre el punto por default de las ul*/
ul {
  list-style: none;
  line-height: 40px;
}

/* Pet pic */
.info-box .img-holder,
.img-holder img {
  height: 65px;
  width: 65px;
  object-fit: cover;
  background-color: lightyellow;
  border-radius: 65px;
}

/* Vaccination pic */
.vacc-pic,
.vacc-pic img {
  margin-bottom: 30px;
  margin-left: 25px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/* Pet List Vaccination pic */
.pl-vacc-pic,
.pl-vacc-pic img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.pl-img-holder,
.pl-img-holder img {
  height: 65px;
  width: 65px;
  margin-top: -80px;
  object-fit: cover;
  border-radius: 65px;
}

.career-title {
  background-color: #ffc312;
  color: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffc312),
    to(#ffdc74)
  );
  background-image: linear-gradient(to right, #ffc312, #ffdc74);
}

.mb-30 {
  margin-bottom: 30px;
}

button {
  margin-left: 120px;
  height: 45px;
}

.info-box .guardian-id {
  height: 65px;
  width: 65px;
  background-image: linear-gradient(
    to right,
    rgb(51, 83, 98),
    rgb(78, 108, 122)
  );
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 65px;
}

/* ----------- All lists  ----------- */
.title-div {
  text-align: center;
  background-color: #f2c459ec;
  border-radius: 10px;
  padding: 15px 10px 10px 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.list-title {
  color: rgb(51, 83, 98);
}

button {
  margin-left: 400px;
}

/* ----------- bookingHistory ----------- */
.bh-pet-profile {
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px 0px 10px 10px;
  display: flex;
  width: 500px;
}

/* Pet's name*/
.bh-pet-profile label {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.booking-content label {
  margin-left: 10px;
}

.pet-content {
  margin-bottom: 500px;
}

.whole-req {
  height: 40px;
  margin-bottom: 100px;
}

.request-content {
  margin-left: 200px;
}

/* ----------- requests  ----------- */
.req-pet-profile {
  display: inline;
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px 0px 10px 10px;
  display: flex;
}

/* Pet's name*/
.req-pet-profile label {
  margin-top: 12px;
  font-size: 20px;
  font-weight: bold;
}

.req-img-holder,
.req-img-holder img {
  height: 65px;
  width: 65px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 65px;
}

.accept-reject-box {
  width: 870px;
  align-items: center;
  text-align: center;
  display: flex;
  gap: 20px;
  height: 40px;
}

/* ----------- bookingHistoryOwner  ----------- */
.BoxRate {
  place-content: center;
  padding: 2rem;
  text-align: center;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.BoxRate label {
  font-weight: bold;
  color: black;
}

.rate-btn-box {
  margin-top: 30px;
}

.rate-btn-box button {
  margin-left: 20px;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: black;
  font-weight: bold;
  background: #ffac07;
  cursor: pointer;
  border-radius: 10px;
}

.info {
  margin-bottom: 1rem;
}

.emoji {
  font-size: 2rem;
  height: 20px;
  margin-bottom: 1rem;
}

.status {
  font-size: 2rem;
  color: honeydew;
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.star {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.star svg {
  fill: none;
  width: 100%;
  height: 100%;
  stroke: none;
  fill: gray;
}

.selected svg,
.selected ~ .star svg {
  fill: #ffc107;
}

.star:hover svg,
.star:hover ~ .star svg {
  fill: gold;
}

/* ----------- newBookingDates  ----------- */
.dates {
  background-color: rgb(51, 83, 98);
  border-radius: 5px;
  padding: 15px;
}

.dates label {
  color: white;
  font-weight: bold;
}

.dates button {
  background-color: rgb(10, 48, 65);
  border: none;
  color: white;
  height: 35px;
  line-height: 0px;
  border-radius: 5px;
  font-size: 18px;
}

.dates-box {
  font-size: 18px;
  display: inline;
  margin-left: 200px;
  margin-right: -400px;
}

.dateSelection {
  align-items: center;
  background-color: #ffffffec;
  padding: 5px;
  color: black;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 0px 30px 0px 10px;
}

/* ----------- filterGuardianList ----------- */

.error-msg {
  margin: auto;
  margin-bottom: -15px;
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}
