@import url("https://fonts.googleapis.com/css2?family=Montserrat");
/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");*/

* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url("https://cdn.discordapp.com/attachments/1022513613375807644/1032661379414491146/unknown.png");
}

/* Rectángulo de búsquedas */
.career-form {
  background-color: rgb(51, 83, 98);
  border-radius: 5px;
  padding: 0 16px;
}

/* Booking History */
h3 {
  color: #f2c459e1;
  font-weight: 800;
}

/* Rectángulo Enter a Pet's Name + Date*/
.career-form .form-control {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  height: 45px;
  padding: 12px 15px;
  color: rgb(255, 255, 255);
}

/* Texto Enter a Pet's Name*/
.career-form .form-control::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}

/* Select Pet Type*/
.career-form .custom-select {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  padding: 12px 15px;
  color: rgb(255, 255, 255);
  width: 100%;
  border-radius: 5px;
  text-align: left;
}

/* Cuando se hace click en el select*/
.career-form .custom-select:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: rgb(5, 0, 0);
}

.career-form .select-container {
  position: relative;
}

.h5-guardians {
  margin-left: 30px;
  font-weight: 800;
}

.h5-pets {
  font-weight: bold;
  margin-left: 30px;
  margin-bottom: -20px;
}

/* Cada cajita con info */
.filter-result .job-box {
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.2);
  background-color: #f2c459e1;
  border-radius: 10px;
  padding: 10px 35px;
}

/* Evita que muestre el punto por default de las ul*/
ul {
  list-style: none;
  line-height: 40px;
}

/* Pet pic */
.job-box .img-holder,
.img-holder img {
  height: 65px;
  width: 65px;
  object-fit: cover;
  background-color: lightyellow;
  border-radius: 65px;
}

/* Vaccination pic */
.vacc-pic,
.vacc-pic img {
  margin-top: 10px;
  margin-left: 25px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/* Pet List Vaccination pic */
.pl-vacc-pic,
.pl-vacc-pic img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.pl-img-holder,
.pl-img-holder img {
  height: 65px;
  width: 65px;
  margin-top: -80px;
  object-fit: cover;
  border-radius: 65px;
}

.career-title {
  background-color: #ffc312;
  color: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffc312),
    to(#ffdc74)
  );
  background-image: linear-gradient(to right, #ffc312, #ffdc74);
}

.mb-30 {
  margin-bottom: 30px;
}

button {
  margin-left: 120px;
  height: 45px;
}

.job-box .guardian-id {
  height: 65px;
  width: 65px;
  background-image: linear-gradient(
    to right,
    rgb(51, 83, 98),
    rgb(78, 108, 122)
  );
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 65px;
}

.title-div {
  text-align: center;
  background-color: #f2c459ec;
  border-radius: 10px;
  padding: 15px 10px 10px 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.list-title {
  color: rgb(51, 83, 98);
}

.dates-div {
  height: 20px;
  margin-bottom: 32px;
  font-weight: bold;
  color: white;
}

.dateSelection {
  align-items: center;
  background-color: #efa908;
  padding: 5px;
  color: black;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 0px 30px 0px 10px;
}

button {
  margin-left: 400px;
}

.bh-pet-profile {
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px 0px 10px 10px;
  display: flex;
}

/* Pet's name*/
.bh-pet-profile label {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.booking-content label {
  margin-left: 10px;
}

.pet-content {
  margin-bottom: 500px;
}

.whole-req {
  height: 40px;
  margin-bottom: 100px;
}

.request-content {
  background-color: blue;
  margin-left: 200px;
}

.req-pet-profile {
  display: inline;
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px 0px 10px 10px;
  display: flex;
}

/* Pet's name*/
.req-pet-profile label {
  margin-top: 12px;
  font-size: 20px;
  font-weight: bold;
}

.req-img-holder,
.req-img-holder img {
  height: 65px;
  width: 65px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 65px;
}

.accept-reject-box {
  width: 870px;
  align-items: center;
  text-align: center;
  display: flex;
  gap: 20px;
  height: 40px;
}

.BoxRate {
  display: grid;
  place-content: center;
  padding: 2rem;
  text-align: center;
  min-height: 200px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.BoxRate::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(https://images.unsplash.com/photo-1553356084-58ef4a67b2a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80)
    no-repeat center center / cover;
  filter: blur(50px) brightness(30%);
}

.info {
  margin-bottom: 1rem;
}
.emoji {
  font-size: 2rem;
  height: 20px;
  margin-bottom: 1rem;
}
.status {
  font-size: 2rem;
  color: honeydew;
}
.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.star {
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.star svg {
  fill: none;
  width: 100%;
  height: 100%;
  stroke: none;
  fill: gray;
}

.selected svg,
.selected ~ .star svg {
  fill: #ffc107;
}
.star:hover svg,
.star:hover ~ .star svg {
  fill: gold;
}

.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 500px;
  height: 50px;
  overflow: hidden;
  position: relative;
  background:     url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 10%;
  z-index: 1;
  background: url('http://www.w3.org/2000/svg');
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 10%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 20%;
}
.star-rating i ~ i ~ i {
  width: 30%;
}
.star-rating i ~ i ~ i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 50%;
}
.star-rating i ~ i ~ i ~ i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i ~ i ~ i ~ i {
  width: 70%;
}
.star-rating i ~ i ~ i ~ i ~ i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i ~ i ~ i ~ i ~ i {
  width: 90%;
}
.star-rating i ~ i ~ i ~ i ~ i ~ i ~ i ~ i ~ i ~ i {
  width: 100%;
}
::after,
::before {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}