@import url("https://fonts.googleapis.com/css2?family=Montserrat");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url("https://cdn.discordapp.com/attachments/1022513613375807644/1032661379414491146/unknown.png");
}

/* Rectángulo de búsquedas */
.career-form {
  background-color: rgb(51, 83, 98);
  border-radius: 5px;
  padding: 0 16px;
}

/* Booking History */
h3 {
  color: #f2c459e1;
  font-weight: 800;
}

/* Rectángulo Enter a Pet's Name + Date*/
.career-form .form-control {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  height: 45px;
  padding: 12px 15px;
  color: rgb(255, 255, 255);
}

/* Texto Enter a Pet's Name*/
.career-form .form-control::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}

/* Select Pet Type*/
.career-form .custom-select {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  padding: 12px 15px;
  color: rgb(255, 255, 255);
  width: 100%;
  border-radius: 5px;
  text-align: left;
}

/* Cuando se hace click en el select*/
.career-form .custom-select:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: rgb(5, 0, 0);
}

.career-form .select-container {
  position: relative;
}

.h5-guardians {
  margin-left: 30px;
  font-weight: 800;
}

.h5-pets {
  font-weight: bold;
  margin-left: 30px;
  margin-bottom: -20px;
}

/* Cada cajita con info */
.filter-result .job-box {
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.2);
  background-color: #f2c459e1;
  border-radius: 10px;
  padding: 10px 35px;
}

/* Evita que muestre el punto por default de las ul*/
ul {
  list-style: none;
  line-height: 40px;
}

/* Pet pic */
.job-box .img-holder,
.img-holder img {
  height: 65px;
  width: 65px;
  object-fit: cover;
  background-color: lightyellow;
  border-radius: 65px;
}

/* Vaccination pic */
.vacc-pic,
.vacc-pic img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.career-title {
  background-color: #ffc312;
  color: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffc312),
    to(#ffdc74)
  );
  background-image: linear-gradient(to right, #ffc312, #ffdc74);
}

.mb-30 {
  margin-bottom: 30px;
}

button {
  margin-left: 120px;
  height: 45px;
}

.job-box .guardian-id {
  height: 65px;
  width: 65px;
  background-image: linear-gradient(
    to right,
    rgb(51, 83, 98),
    rgb(78, 108, 122)
  );
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 65px;
}

.title-div {
  text-align: center;
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.2);
  background-color: #f2c459ec;
  border-radius: 10px;
  padding: 15px 10px 10px 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.list-title {
  color: rgb(51, 83, 98);
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
}

.dates-div {
  height: 20px;
  margin-bottom: 32px;
  font-weight: bold;
  color: white;
}

.dateSelection {
  align-items: center;
  background-color: #efa908;
  padding: 5px;
  color: black;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 0px 30px 0px 10px;
}

button {
  margin-left: 400px;
}

.dates-div .label,
label {
  text-align: center;
}
