@import url("https://fonts.googleapis.com/css2?family=Montserrat");

html,
body {
  background-image: url("https://cloudfront-us-east-1.images.arcpublishing.com/infobae/IDESGY5PMFHL3CRYMTSLFYT7WU.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.container {
  height: 100%;
}

.card {
  height: 350px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.645);
  border-radius: 10px;
}

.card img {
  filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.46));
}

.card-header {
  text-align: center;
}

.card-footer {
  margin-top: -30px;
}
.email-pass-box {
  margin-left: 5px;
}

.email-pass-box input {
  height: 40px;
  width: 310px;
  margin-bottom: 20px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.login-btn-box button {
  width: 80px;
  padding: 5px;
  margin-left: 275px;
  background-color: #ffc312;
  color: black;
  cursor: pointer;
  border: 0 !important;
  border-radius: 5px;
  outline: none;
}

.input-group-prepend span {
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}

.links a {
  margin-left: 4px;
}

.d-flex {
  color: black;
}

#pass-container {
  display: flex;
}

#pass-container > svg {
  margin-top: -20px;
  margin-left: -35px;
}
