@import url("https://fonts.googleapis.com/css2?family=Montserrat");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url("https://cdn.discordapp.com/attachments/1022513613375807644/1032661379414491146/unknown.png");
}

/* Rectángulo de búsquedas */
.career-form {
  background-color: rgb(51, 83, 98);
  border-radius: 5px;
  padding: 0 16px;
}

/* Booking History */
h3 {
  color: #f2c459e1;
  font-weight: 800;
}

/* Rectángulo Enter a Pet's Name + Date*/
.career-form .form-control {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  height: 45px;
  padding: 12px 15px;
  color: rgb(255, 255, 255);
}

/* Texto Enter a Pet's Name*/
.career-form .form-control::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}

/* Títulos de cada bloque*/
h5 {
  font-weight: 800;
  margin-left: 30px;
}

/* Select Pet Type*/
.career-form .custom-select {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  padding: 12px 15px;
  color: rgb(255, 255, 255);
  width: 100%;
  border-radius: 5px;
  text-align: left;
}

/* Cuando se hace click en el select*/
.career-form .custom-select:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: rgb(5, 0, 0);
}

.career-form .select-container {
  position: relative;
}

/* Cada cajita que se muestra */
.filter-result .job-box {
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.2);
  background-color: #f2c459e1;
  border-radius: 10px;
  padding: 10px 35px;
}

/* Evita que muestre el punto por default de las ul*/
ul {
  list-style: none;
}

/*Contenedor de imagen*/
.job-box .img-holder {
  height: 65px;
  width: 65px;
  background-image: linear-gradient(
    to right,
    rgb(51, 83, 98),
    rgb(78, 108, 122)
  );
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 65px;
}

.career-title {
  background-color: #ffc312;
  color: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffc312),
    to(#ffdc74)
  );
  background-image: linear-gradient(to right, #ffc312, #ffdc74);
}

.job-overview {
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  border-radius: 10px;
}

@media (min-width: 992px) {
  .job-overview {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
  }
}

.job-overview .job-detail ul {
  margin-bottom: 28px;
}

.job-overview .job-detail ul li {
  opacity: 0.75;
  font-weight: 800;
  margin-bottom: 15px;
}

.job-overview .job-detail ul li i {
  font-size: 20px;
  position: relative;
  top: 1px;
}

.job-overview .overview-bottom,
.job-overview .overview-top {
  padding: 35px;
}

.job-content ul li {
  font-weight: 600;
  opacity: 0.75;
  border-bottom: 1px solid #ccc;
  padding: 10px 5px;
}

@media (min-width: 768px) {
  .job-content ul li {
    border-bottom: 0;
    padding: 0;
  }
}

.job-content ul li i {
  font-size: 20px;
  position: relative;
  top: 1px;
}
.mb-30 {
  margin-bottom: 30px;
}

button {
  margin-left: 120px;
  height: 45px;
}

.petSelectCheckbox {
  color: white;
  background-color: red;
}

.submitBtnBox {
  padding: 500px 500px 500px 500px;
  background-color: red;
}
