@import url("https://fonts.googleapis.com/css2?family=Montserrat");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url("https://cdn.discordapp.com/attachments/1022513613375807644/1032661379414491146/unknown.png");
}

/* Rectángulo de búsquedas */
.career-form {
  background-color: rgb(51, 83, 98);
  border-radius: 5px;
  padding: 0 16px;
}

/* Titulo principal */
h3 {
  color: rgb(51, 83, 98);
  font-weight: 800;
}

/* Rectángulo Enter a Pet's Name + Date*/
.career-form .form-control {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  height: 45px;
  padding: 12px 15px;
  color: rgb(255, 255, 255);
}

/* Texto Enter a Pet's Name*/
.career-form .form-control::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}

/* Select Pet Type*/
.career-form .custom-select {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  padding: 12px 15px;
  color: rgb(255, 255, 255);
  width: 100%;
  border-radius: 5px;
  text-align: left;
}

/* Cuando se hace click en el select*/
.career-form .custom-select:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: rgb(5, 0, 0);
}

.career-form .select-container {
  position: relative;
}

/* Cada cajita de info */
.filter-result .job-box {
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.2);
  background-color: #f2c459e1;
  border-radius: 10px;
  padding: 10px 35px;
}

.h5-pets {
  font-weight: bold;
  margin-left: 30px;
  margin-bottom: -20px;
}

/* Evita que muestre el punto por default de las ul*/
ul {
  list-style: none;
  line-height: 30px;
}

/*Contenedor de imagen*/
.job-box .img-holder,
.img-holder img {
  height: 65px;
  width: 65px;
  object-fit: cover;
  background-color: lightyellow;
  border-radius: 65px;
}

/* Vaccination pic */
.vacc-pic,
.vacc-pic img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/* Custom Pet Select checkbox */
.pet-select-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hides the browser's default checkbox */
.pet-select-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Custom checkbox */
.checkmark {
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: white;
}

.pet-select-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When Select is selected*/
.pet-select-container input:checked ~ .checkmark {
  background-color: rgb(51, 83, 98);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.pet-select-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.pet-select-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.career-title {
  background-color: #ffc312;
  color: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffc312),
    to(#ffdc74)
  );
  background-image: linear-gradient(to right, #ffc312, #ffdc74);
}

.mb-30 {
  margin-bottom: 30px;
}

.submitBtnBox {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
}

button {
  height: 45px;
  width: 100%;
  background-color: rgb(38, 78, 97);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  outline: none;
}

.instructions-div {
  text-align: center;
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  margin-top: 30px;
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.2);
  background-color: #f2c459f4;
  border-radius: 10px;
  padding: 10px 35px 30px 30px;
}
