@import url("https://fonts.googleapis.com/css2?family=Montserrat");

body {
  background-image: url("https://cdn.discordapp.com/attachments/1022513613375807644/1032661379414491146/unknown.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.emp-profile {
  padding: 3%;
  margin-top: 30px;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.871);
}

span {
  color: rgb(0, 194, 94);
}

.profile-head h5 {
  color: #333;
}

.profile-head h6 {
  color: #585858;
}

/*Contenedor de Imagen*/
.profile-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/*Imagen*/
.profile-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}

.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}

.profile-rating {
  color: rgb(1, 0, 0);
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.profile-tab p {
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #cc0000;
}

.profile-btns {
  border: none;
  border-radius: 5px;
  width: 70%;
  padding: 2%;
  font-weight: bold;
  background-color: #ffc312;
  color: #816102;
  cursor: pointer;
}

.dates-div {
  font-size: 15px;
  font-weight: bold;
  padding: 10px 35px 10px 10px;
  margin-bottom: 5px;
}

.first-day-selector {
  background-color: lightgray;
  padding: 5px;
  margin-left: 15px;
  color: black;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
}

.last-day-selector {
  background-color: lightgray;
  padding: 5px;
  margin-left: 40px;
  color: black;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
}

.edit-subtitle {
  font-size: 18px;
}

.size-pref {
  width: 225px;
  border-radius: 5px;
  height: 40px;
  border-color: rgb(189, 189, 189);
  color: gray;
}

.price-input {
  width: 100px;
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 0px 0px 0px 20px;
  transition: width 0.4s ease-in-out;
}

.price-input:focus {
  width: 210px;
}

label {
  font-weight: bold;
}

.note {
  margin-top: 20px;
  color: rgba(128, 128, 128, 0.796);
}

.note-txt {
  font-weight: normal;
}

.error-msg {
  margin: auto;
  margin-bottom: -15px;
  margin-top: 20px;
  width: 400px;
  font-weight: bold;
  text-align: center;
}
