@import url("https://fonts.googleapis.com/css2?family=Montserrat");

* {
  font-family: "Montserrat", sans-serif;
}

html,
body,
.gradient-custom {
  background-image: url("https://cloudfront-us-east-1.images.arcpublishing.com/infobae/IDESGY5PMFHL3CRYMTSLFYT7WU.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.formBoxBg {
  margin-top: -30px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

label,
h3,
h6 {
  color: white;
}

.card-registration .select-arrow {
  top: 13px;
}
