@import url("https://fonts.googleapis.com/css2?family=Montserrat");

* {
  font-family: "Montserrat", sans-serif;
}

html,
body,
.gradient-custom {
  background-image: url("https://cloudfront-us-east-1.images.arcpublishing.com/infobae/IDESGY5PMFHL3CRYMTSLFYT7WU.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.formBoxBg {
  margin-top: -30px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

label,
h3,
h6 {
  font-weight: bold;
  color: white;
}

.btn-box {
  margin-top: 40px;
  text-align: center;
}

.signup-btn {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: black;
  font-weight: bold;
  background: #ffc312;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.signup-btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingsignup-btn 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingsignup-btn {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.signup-btn:active {
  color: #ffc312;
}

.signup-btn:active:after {
  background: transparent;
}

.signup-btn:hover:before {
  opacity: 1;
}

.signup-btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffc312;
  left: 0;
  top: 0;
  border-radius: 10px;
}
